doctype html
html
  head
    title= "Garage"
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    script(src='/javascripts/zepto.min.js', type="text/javascript")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      br
      br
      br
      button#garage Open Seasame

script(type="text/javascript")
  $("button#garage").click(function() { $.post('/api/garage/right', function(data) { }); });
